%h2 League List

%hr

%table
  %thead
    %tr
      %th Name
      %th Sport
      %th Start Date
      %th{:colspan => 2} End Date
  %tbody
    - unless @leagues.blank?
      = render :partial => 'league', :collection => @leagues
    - else
      You have not created any leagues. #{link_to 'Get started now!', new_admin_league_path}
    
= will_paginate @leagues

%hr

.span-1
  = link_to 'New League', new_admin_league_path