%h2 League List

%hr

%table
  %thead
    %tr
      %th Name
      %th Season
      %th{:colspan => 2} Sport
  %tbody
    = render :partial => 'league', :collection => @leagues
    
= will_paginate @leagues

%hr

.span-1
  = link_to 'New League', new_admin_league_path