.container
  - form_for @league, :url => admin_leagues_path, :html => {:class => 'bp'} do |f|
    %fieldset
      %legend 
        New League
        
      = render :partial => 'form', :locals => {:f => f}
      
      %p
        = f.submit 'Create'