%h2 User List

%hr

%table
  %thead
    %tr
      %th Name
      %th Rank
  %tbody
    - unless @users.blank?
      = render :partial => 'user', :collection => @users
    - else
      %tr
        %td{:colspan => 2}
          You have not created any users. #{link_to 'Get started now!', new_admin_user_path}
    
= will_paginate @users

%hr

.span-1
  = link_to 'New User', new_admin_user_path