%h2 Team List

%hr

%table
  %thead
    %tr
      %th{:colspan => 2} Name
  %tbody
    - unless @teams.blank?
      = render :partial => 'team', :collection => @teams
    - else
      You have not created any teams. #{link_to 'Get started now!', new_admin_team_path}
    
= will_paginate @teams

%hr

.span-1
  = link_to 'New Team', new_admin_team_path