- form_for @team, :url => admin_teams_path, :html => {:class => 'bp'} do |f|
  %fieldset
    %legend 
      New Team
      
    = render :partial => 'form', :locals => {:f => f}
      
    %p
      = f.submit 'Create'